---
import Layout from '../layout/layout.astro';
import Header from '../components/Header.astro';
import Session from '../components/session.astro';
import Menu from '../components/Menu.astro';
---
<Layout>
	<main>
		<Header/>
		<Session/>
		<Menu/>
	</main>
</Layout>
<style>
	main {
        max-width: 800px;
		text-align: center;
        margin: 0 auto;
        padding: 1rem;
		h1{
			background-image: linear-gradient(120deg, #7df665 20%, #fdeb85 70%);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			text-shadow: #2bff0065 0px 0px 22px;
		}
    }
</style>