---
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>
</head>
    <body>
        <slot/>
    </body>
</html>

<style is:global>
    html {
        font-family: sans-serif;
        line-height: 1.5;
    }
    body {
        margin: 0;
        padding: 0;
        background-color: #051300;
    }
</style>